
*{
    box-sizing: border-box;
}

.main-logo{
    height: 4rem;
    vertical-align: -1rem;
}

header h1{
    height: 4rem;
    font-size: 3rem;
    display: inline-block;
    padding-left: 0.5rem;
    margin: 0;
}

header{
    padding: 0.5rem 1rem;
}

div.options-panel{
    padding: 0.8rem 2rem;
    margin-bottom: 2px;
}

div.central-part{
    padding: 1.5rem 2rem;
}

main div{
    background-color: white;
}

main{
    background-color: lightgrey;
    height: 1000px;
    padding: 4rem 15%;
}