
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.main-logo{
    height: 4rem;
    vertical-align: -1rem;
}

header h1{
    height: 4rem;
    font-size: 3rem;
    display: inline-block;
    padding-left: 0.5rem;
    margin: 0;
}

header{
    padding: 0.5rem 1rem;
}

button.button-color{
    height: 1.8rem;
    background-color: #45abea;
    border-color: #45abea;
    border-radius: 0.5rem;
    color: white;
}

button.button-uncolor{
    height: 1.8rem;
    background-color: white;
    border-color: lightgrey;
    border-radius: 0.5rem;
    color: gray;
}

div.options-panel{
    padding: 0.8rem 2rem;
    margin-bottom: 2px;
}

div.central-part{
    padding: 1.5rem 2rem;
}

span.cross{
    padding: 0 0.2rem;
    color: red;
    border: 1px solid red;
    font-size: 0.9rem;
    border-radius: 100%;
}

span.check{
    padding: 0 0.2rem;
    color: green;
    border: 1px solid green;
    font-size: 0.9rem;
    border-radius: 100%;
}


main div{
    background-color: white;
}

main{
    background-color: #f6f8f9;
    height: 100%;
    padding: 4rem 15%;
}

li{ 
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0 0.2rem 0;
}

h2{
    margin: 1.5rem 0 0;
}

h2 span{
    font-size: 1rem;
}

span.tag{
    padding: 0.3rem 0.5rem;
    font-size: 0.7rem;
    background-color: gray;
    border-radius: 0.6rem;
    color: white;
}

span.editorial{
    background-color: #45abea;
}

span.qigoals{
    background-color: #9c72e4;
}

span.recruiting{
    background-color: #64c0a9;
}

span.website{
    background-color: #d863a1;
}

span.sales{
    background-color: #b0c926;
}

span.mobile{
    background-color: #f29e33;
}